@page "/"
@namespace Hashgraph.Portal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hedera Hashgraph Network Portal</title>
    <base href="~/" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <environment include="Development">
        <link rel="stylesheet" href="~/main.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/main.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
    </div>
    <script>
        window.hashgraph = {
            supportsClipboard: function () {
                return !!(window.navigator && window.navigator.clipboard && window.navigator.clipboard.writeText && window.navigator.clipboard.readText);
            }
        }
    </script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
