@page "/callcontract"
<EditForm Model=@_input OnValidSubmit=@HandleValidSubmit>
    <h2>Call Contract</h2>
    <DataAnnotationsValidator />
    <fieldset>
        <label for="gateway">Gateway Node</label>
        <InputGateway id="gateway" @bind-Value=@_input.Gateway />
        <label for="payer">Payer</label>
        <InputAddress id="payer" @bind-Value=@_input.Payer placeholder="Payer (shrd.rlm.num)" />
        <label for="memo">Transaction Memo</label>
        <InputText id="memo" @bind-Value=@_input.Memo placeholder="Transaction Memo (optional)" />
        <label for="contract">Contract</label>
        <InputAddress id="contract" @bind-Value=@_input.Contract placeholder="Contract (shrd.rlm.num)" />
        <label for="payable">Payable Amount (Xfer from Payer, tℏ)</label>
        <InputNumber id="payable" @bind-Value=@_input.Amount placeholder="Payable Amount (tℏ)" />
        <label for="maxgas">Max Gas (Xfer from Payer, tℏ)</label>
        <InputNumber id="maxgas" @bind-Value=@_input.Gas placeholder="Max. Allowed Gas (tℏ)" />
        <label for="functionname">Function Name</label>
        <InputText id="functionname" @bind-Value=@_input.FunctionName Placeholder="Function Name" />
        <label for="arguments">Arguments</label>
        <InputAbi id="arguments" @bind-Value=@_input.Arguments />
        <p class="note"><b>NOTE:</b> The receipt returned from the network does not contain any results generated from the contract call.  If you wish to see results returned from the call, please click on the <i>Get Record</i> button in the results tab below.</p>
        <button type="submit">Call Contract</button>
    </fieldset>
    <Network @ref="_network">
        @if (_output != null)
        {
            @if(@_record is null)
            {
                <h3>Success</h3>
                <button hg-get-record-button type="button" @onclick=@GetRecord>Get Record</button>
            }
            else
            {
                <h3>Record</h3>
                <RecordDisplay Value=@_record />
            }
        }
        else
        {
            <div>Waiting for Input</div>
        }
    </Network>
</EditForm>
