@page "/createaccount"
<EditForm Model=@_input OnValidSubmit=@HandleValidSubmit>
    <h2>Create Account</h2>
    <DataAnnotationsValidator />
    <fieldset>
        <label for="gateway">Gateway Node</label>
        <InputGateway id="gateway" @bind-Value=@_input.Gateway />
        <label for="payer">Payer</label>
        <InputAddress id="payer" @bind-Value=@_input.Payer placeholder="Payer (shrd.rlm.num)" />
        <label for="txmemo">Transaction Memo</label>
        <InputText id="txmemo" @bind-Value=@_input.TransactionMemo placeholder="Tx Memo (optional)" />
        <label for="initialbalance">Initial Balance (Xfer from Payer, tℏ)</label>
        <InputNumber id="initialbalance" @bind-Value=@_input.InitialBalance placeholder="Initial Balance (tℏ)" />
        <label for="requirereceiverignature">Require Signature to Receive Funds</label>
        <InputCheckbox id="requirereceiverignature" @bind-Value=@_input.RequireReceiveSignature />
        <label for="autoassociate">Number of Auto-Associations</label>
        <InputNumber id="autoassociate" @bind-Value=@_input.AutoAssociationLimit placeholder="Count (optional)" />
        <label for="staking">Staking Selection</label>
        <div>
            <InputRadioGroup id="staking" @bind-Value=@_input.StakingSelection>
                <label><InputRadio Value=@StakingSelection.Node/> Node</label>
                <label><InputRadio Value=@StakingSelection.Account/> Account</label>
                <label><InputRadio Value=@StakingSelection.Declined/> Declined</label>
                <label><InputRadio Value=@StakingSelection.Unset/> Not Configured</label>
            </InputRadioGroup>
        </div>
        @if(_input.StakingSelection == StakingSelection.Account)
        {
            <label for="proxyaccount">Proxy Stake to Account</label>
            <InputAddress id="proxyaccount" @bind-Value=@_input.ProxyAccount placeholder="Proxy Account (shrd.rlm.num)" />            
        }
        @if (_input.StakingSelection == StakingSelection.Node)
        {
            <label for="stakingnode">Stake with Hedera Node</label>
            <InputNumber id="stakingnode" @bind-Value=@_input.StakedNode placeholder="Hedera Node Id (number)" />
        }
        <label for="accountmemo">Account Memo</label>
        <InputText id="accountmemo" @bind-Value=@_input.AccountMemo placeholder="Account Memo (optional)" />
        <label for="endorsment">Endorsement</label>
        <InputEndorsement id="endorsment" @bind-Value=@_input.Endorsement />
        <button type="submit">Create Account</button>
    </fieldset>
    <Network @ref="_network">
        @if (_output is null)
        {
            <div>Waiting for Input</div>
        }
        else if (_record is null)
        {
            <h3>Success</h3>
            <div>Created Account ID</div>
            <AddressDisplay Value=@_output.Address />
            <button hg-get-record-button type="button" @onclick=@GetRecord>Get Record</button>
        }
        else
        {
            <h3>Record</h3>
            <RecordDisplay Value=@_record />
        }
    </Network>
</EditForm>
