@page "/"
<section class="home-page">
    <h2>Welcome to the Hashgraph Portal for the Hedera Network</h2>
    <p>
        This site provides a web interface for invoking a variety of Hedera Network Services.
        You can query an account balance, retrieve information about any account, and invoke
        additional network functions as we continue to add new functionality.  This site is
        primarily a reference implementation demonstrating the
        <a href="https://bugbytesinc.github.io/Hashgraph/">.NET SDK for the Hedera Network</a>.
    </p>
    <p><b>PLEASE NOTE:</b></p>
    <p>
        While this app constructs Hedera Transactions and submits them to the network on your behalf,
        it never asks for your private key(s) and is unable to &ldquo;sign&rdquo; your transactions.
        Before submitting network transactions requiring signatures, the app will present you with
        the bytes to be signed (hex encoded) and you must use a separate tool for signing the
        transaction.  One such tool that can sign encoded Hedera Transactions is the
        <a href="https://www.microsoft.com/store/productId/9PPB258CD9P7">Hashgraph Signing Tool</a> which
        can be found in the Microsoft Windows App Store.  Don&rsquo;t trust this app?
        We completely understand.  The source code for this app is open source,
        located in <a href="https://github.com/bugbytesinc/Hashgraph-Signing-Tool">GitHub</a> you are
        fee to examine the project and compile your own trusted executable.
    </p>
    <p>
        Don&rsquo;t trust this site?  We&rsquo;re not offended, the source code for this
        site is located at (Soon to be released),
        you are free and encouraged to run your own instance.
    </p>
    <p>
        Thank you for your interest, please feel free to send any feedback our way,
        the easiest place to find us is on the
        <a href="http://hashgraph.com/discord">Hedera Discord Channel</a>
    </p>
</section>