@page "/"
<PageTitle>Hashgraph API Home</PageTitle>
<section>
    <h2>Welcome to the Hashgraph Portal for the Hedera Network</h2>
    <p>
        This site provides a web interface interacting with the Hedera Hashgraph Network.
        With this site, you can invoke the publicly available features of the network including,
        but not limited to, creating Non-Fungible tokens, invoking smart contracts, querying balances,
        sending consensus messages and transferring crypto between multiple parties. Additionally,
        this site is a reference implementation demonstrating how to create solutions using the
        <a href="https://bugbytesinc.github.io/Hashgraph/">.NET SDK for the Hedera Network</a>.
    </p>
    <h3>You Must use an External Application to Sign Transactions</h3>
    <p>
        This site never asks you for your private key(s) and is unable to sign transactions
        on your behalf by design.  You must acquire a separate Hedera Transaction signing tool
        for this purpose.  One such tool that can sign encoded Hedera Transactions is the
        <a href="https://www.microsoft.com/store/productId/9PPB258CD9P7">Hashgraph Signing Tool</a>
        which can be found in the Microsoft Windows App Store. (The source code for the signing tool
        is open source, located in <a href="https://github.com/bugbytesinc/Hashgraph-Signing-Tool">GitHub</a>
        you are fee to examine the project and compile your own trusted executable.)
    </p>
    <p>
        When submitting a transaction that requires a signature to validate, the application
        will present the following dialog:
    </p>
    <img src="/images/waitingforsignatures.png" />
    <p>
        When presented with this dialog: copy the value of the &ldquo;Transaction in Hex&rdquo; box to
        the clipboard (this is the &ldquo;encoded&rdquo; form of a transaction that must be digitally signed).
        Next Paste the transaction value into the signing tool of your choice.  Use the tool to sign the
        transaction and copy the encoded &ldquo;signature&rdquo; back to the clipboard.  Finally paste your 
        newly crafted signature into the &ldquo;Signature(s) in Hex&rdquo; box and click the &ldquo;Submit to 
        Network&rdquo; button on the dialog to continue the process.
    </p>
    <h3>This Project is Open Source</h3>
    <p>
        Don&rsquo;t trust this site? We&rsquo;re not offended, the source code for this site is located
        in <a href="https://github.com/bugbytesinc/Hashgraph-Portal">GitHub</a>, you may download
        and run your own trusted instance.
    </p>
    <p>
        Thank you for your interest, please feel free to send any feedback our way, the easiest place to
        find us is on the <a href="https://hedera.com/discord">Hedera Discord Channel</a>.
    </p>
</section>
