@page "/querycontract"
<EditForm Model=@_input OnValidSubmit=@HandleValidSubmit>
    <h2>Query Contract</h2>
    <DataAnnotationsValidator />
    <fieldset>
        <label for="gateway">Gateway Node</label>
        <InputGateway id="gateway" @bind-Value=@_input.Gateway />
        <label for="payer">Payer</label>
        <InputAddress id="payer" @bind-Value=@_input.Payer placeholder="Payer (shrd.rlm.num)" />
        <label for="memo">Transaction Memo</label>
        <InputText id="memo" @bind-Value=@_input.Memo placeholder="Transaction Memo (optional)" />
        <label for="contract">Contract</label>
        <InputAddress id="contract" @bind-Value=@_input.Contract placeholder="Contract (shrd.rlm.num)" />
        <label for="maxgas">Max Gas (Xfer from Payer, tℏ)</label>
        <InputNumber id="maxgas" @bind-Value=@_input.Gas placeholder="Max. Allowed Gas (tℏ)" />
        <label for="bytecharge">Returned Bytes Charge (Xfer from Payer, tℏ)</label>
        <InputNumber id="bytecharge" @bind-Value=@_input.ReturnValueCharge placeholder="Fee for Bytes Ret. (tℏ)" />
        <label for="functionname">Function Name</label>
        <InputText id="functionname" @bind-Value=@_input.FunctionName Placeholder="Function Name" />
        <label for="arguments">Arguments</label>
        <InputAbi id="arguments" @bind-Value=@_input.Arguments />
        <button type="submit">Query Contract</button>
    </fieldset>
    <Network @ref=@_network>
        @if (_output != null)
        {
            <ContractCallResultDisplay Value=@_output />
        }
        else
        {
            <div>Waiting for Input</div>
        }
    </Network>
</EditForm>
