@page "/submitmessage"
<EditForm EditContext=@_editContext OnValidSubmit=@HandleValidSubmit>
    <h2>Send Consensus Message</h2>
    <DataAnnotationsValidator />
    <fieldset>
        <label for="gateway">Gateway Node</label>
        <InputGateway id="gateway" @bind-Value=@_input.Gateway />
        <label for="payer">Payer</label>
        <InputAddress id="payer" @bind-Value=@_input.Payer placeholder="Payer (shrd.rlm.num)" />
        <label for="memo">Memo</label>
        <InputText id="memo" @bind-Value=@_input.Memo placeholder="Transaction Memo (optional)" />
        <label for="topic">Topic</label>
        <InputAddress id="topic" @bind-Value=@_input.Topic placeholder="Consensus Topic (shrd.rlm.num)" />
        <label for="message">Message</label>
        <div class="text-or-hex">
            <InputText id="message" @bind-Value=@_input.Message placeholder=@(_input.MessageIsHex ? "Message (in Hex)" : "Message (text)") />
            <label><InputCheckbox @bind-Value=@_input.MessageIsHex></InputCheckbox>Hex</label>
        </div>
        <button type="submit">Submit Message</button>
    </fieldset>
    <Network @ref="_network">
        @if (_output != null)
        {
            @if (@_record is null)
            {
                <h3>Success</h3>
                <div>Sequence Number</div>
                <div>@_output.SequenceNumber</div>
                <div>Running Hash</div>
                <HashDisplay Value=@_output.RunningHash></HashDisplay>
                <div>Running Hash Version</div>
                <div>@_output.RunningHashVersion</div>
                <button hg-get-record-button type="button" @onclick=@GetRecord>Get Record</button>
            }
            else
            {
                <h3>Record</h3>
                <RecordDisplay Value=@_record />
            }
        }
        else
        {
            <div>Waiting for Input</div>
        }
    </Network>
</EditForm>
