@page "/updateaccount"
<EditForm EditContext=@_editContext OnValidSubmit=@HandleValidSubmit>
    <h2>Update Account</h2>
    <DataAnnotationsValidator />
    <fieldset>
        <label for="gateway">Gateway Node</label>
        <InputGateway id="gateway" @bind-Value=@_input.Gateway />
        <label for="payer">Payer</label>
        <InputAddress id="payer" @bind-Value=@_input.Payer placeholder="(shrd.rlm.num)" />
        <label for="memo">Transaction Memo</label>
        <InputText id="memo" @bind-Value=@_input.TransactionMemo placeholder="Transaction Memo (optional)" />
        <label for="address">Account to Update</label>
        <InputAddress id="address" @bind-Value=@_input.Address placeholder="(shrd.rlm.num)" />
        <label for="accountmemo">Account Memo</label>
        <InputText id="accountmemo" @bind-Value=@_input.AccountMemo placeholder="Account Memo (enter to update)" />
        <div class="toggle-property">
            <InputCheckbox id="togglereceivesignaturerequired" @bind-Value=@_input.UpdateReceiveSignatureRequired />
            <label for="togglereceivesignaturerequired">Update Receive Signature Required</label>
        </div>
        @if (_input.UpdateReceiveSignatureRequired)
        {
                <label for="receivesignaturerequired">Require Signature</label>
                <div>
                    <InputCheckbox id="receivesignaturerequired" @bind-Value=@_input.ReceiveSignatureRequired />
                    <label for="receivesignaturerequired">@(_input.ReceiveSignatureRequired ? "Yes, Signature Is Required" : "No Signature Required")</label>
                </div>
        }
        <div class="toggle-property">
            <InputCheckbox id="updateautoassociate" @bind-Value=@_input.UpdateAutoAssociationLimit/>
            <label for="updateautoassociate">Update Auto Association Limit</label>
        </div>
        @if (_input.UpdateAutoAssociationLimit)
        {
                <label for="autoassociation">Auto Association Limit</label>
                <InputNumber id="autoassociation" @bind-Value=@_input.AutoAssociationLimit placeholder="Update Auto Association Limit" />
        }
        <div class="toggle-property">
            <InputCheckbox id="updatestaking" @bind-Value=@_input.UpdateStaking />
            <label for="updatestaking">Update Staking</label>
        </div>
        @if (_input.UpdateStaking)
        {
            <label for="staking">Staking Selection</label>
            <div>
                <InputRadioGroup id="staking" @bind-Value=@_input.StakingSelection>
                    <label><InputRadio Value=@StakingSelection.Node/> Node</label>
                    <label><InputRadio Value=@StakingSelection.Account/> Account</label>
                    <label><InputRadio Value=@StakingSelection.Declined/> Declined</label>
                </InputRadioGroup>
            </div>
            @if(_input.StakingSelection == StakingSelection.Account)
            {
                <label for="proxyaccount">Proxy Stake to Account</label>
                <InputAddress id="proxyaccount" @bind-Value=@_input.ProxyAccount placeholder="Proxy Account (shrd.rlm.num)" />            
            }
            @if (_input.StakingSelection == StakingSelection.Node)
            {
                <label for="stakingnode">Stake with Hedera Node</label>
                <InputNumber id="stakingnode" @bind-Value=@_input.StakedNode placeholder="Hedera Node Id (number)" />
            }            
        }
        <div class="toggle-property">
            <InputCheckbox id="updateendorsment" @bind-Value=@_input.UpdateEndorsement />
            <label for="updateendorsment">Update Endorsment (aka. rotate keys)</label>
        </div>
        @if (_input.UpdateEndorsement)
        {
                <label for="endorsment">Endorsement</label>
                <InputEndorsement id="endorsment" @bind-Value=@_input.Endorsement />
        }
        <button type="submit">Update Account</button>
    </fieldset>
    <Network @ref="_network">
        @if (_output is null)
        {
            <div>Waiting for Input</div>
        }
        else if (_record is null)
        {
            <h3>Success</h3>
            <button hg-get-record-button type="button" @onclick=@GetRecord>Get Record</button>
        }
        else
        {
            <h3>Record</h3>
            <RecordDisplay Value=@_record />
        }
    </Network>
</EditForm>
