@inherits LayoutComponentBase
<PageTitle>Hashgraph Portal</PageTitle>
<header>Hashgraph Portal (Network v0.28.[alpha])</header>
<aside>
    <NavMenu />
    <SettingsDisplay />
</aside>
<main>
    @Body
</main>