@inherits LayoutComponentBase
<div class="main_header">Hashgraph API Portal</div>
<aside class="main_aside">
    <NavMenu />
    <SettingsDisplay />
</aside>
<div class="main_content">
    @Body
</div>