<ul class="navigation-menu">
    <li>
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    </li>
    <li>
        <NavLink href="accountbalance">Account Balance</NavLink>
    </li>
    <li>
        <NavLink href="accountinfo">Account Info</NavLink>
    </li>
    <li>
        <NavLink href="createaccount">Create Account</NavLink>
    </li>
</ul>
