<ul class="navigation-menu">
    <li>
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="accountbalance">Account Balance</NavLink>
    </li>
    <li>
        <NavLink href="transfercrypto">Transfer Crypto</NavLink>
    </li>
    <li>
        <NavLink href="createaccount">Create Account</NavLink>
    </li>
    <li>
        <NavLink href="accountinfo">Account Info</NavLink>
    </li>
    <li>
        <NavLink href="accountrecords">Account Records</NavLink>
    </li>
    <li>
        <NavLink href="updateaccount">Update Account</NavLink>
    </li>
    <li>
        <NavLink href="deleteaccount">Delete Account</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="submitmessage">Submit Message</NavLink>
    </li>
    <li>
        <NavLink href="createtopic">Create Topic</NavLink>
    </li>
    <li>
        <NavLink href="topicinfo">Topic Info</NavLink>
    </li>
    <li>
        <NavLink href="updatetopic">Update Topic</NavLink>
    </li>
    <li>
        <NavLink href="deletetopic">Delete Topic</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="filecontents">File Contents</NavLink>
    </li>
    <li>
        <NavLink href="createfile">Create File</NavLink>
    </li>
    <li>
        <NavLink href="appendfile">Append File</NavLink>
    </li>
    <li>
        <NavLink href="fileinfo">File Info</NavLink>
    </li>
    <li>
        <NavLink href="updatefile">Update File</NavLink>
    </li>
    <li>
        <NavLink href="deletefile">Delete File</NavLink>
    </li>
</ul>
