<ul>
    <li>
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="accountbalance">Balances</NavLink>
    </li>
    <li>
        <NavLink href="transfercrypto">Transfer</NavLink>
    </li>
    <li>
        <NavLink href="submitmessage">Submit Message</NavLink>
    </li>
    <li>
        <NavLink href="callcontract">Call Contract</NavLink>
    </li>
    <li>
        <NavLink href="filecontents">File Contents</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="createaccount">Create Account</NavLink>
    </li>
    <li>
        <NavLink href="accountinfo">Account Info</NavLink>
    </li>
    <li>
        <NavLink href="accountrecords">Account Records</NavLink>
    </li>
    <li>
        <NavLink href="updateaccount">Update Account</NavLink>
    </li>
    <li>
        <NavLink href="deleteaccount">Delete Account</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="createtoken">Create Token</NavLink>
    </li>
    <li>
        <NavLink href="tokeninfo">Token Info</NavLink>
    </li>
    <li>
        <NavLink href="updatetoken">Update Token</NavLink>
    </li>
    <li>
        <NavLink href="updateroyalties">Update Royalties</NavLink>
    </li>    
    <li>
        <NavLink href="associatetoken">Associate Token</NavLink>
    </li>
    <li>
        <NavLink href="dissociatetoken">Dissociate Token</NavLink>
    </li>
    <li>
        <NavLink href="suspendtoken">Suspend Token</NavLink>
    </li>
    <li>
        <NavLink href="resumetoken">Resume Token</NavLink>
    </li>
    <li>
        <NavLink href="pausetoken">Pause Token</NavLink>
    </li>
    <li>
        <NavLink href="continuetoken">Continue Token</NavLink>
    </li>
    <li>
        <NavLink href="granttoken">Grant Token</NavLink>
    </li>
    <li>
        <NavLink href="revoketoken">Revoke Token</NavLink>
    </li>
    <li>
        <NavLink href="minttoken">Mint Tokens</NavLink>
    </li>
    <li>
        <NavLink href="burntoken">Burn Tokens</NavLink>
    </li>
    <li>
        <NavLink href="confiscatetoken">Confiscate Tokens</NavLink>
    </li>
    <li>
        <NavLink href="deletetoken">Delete Token</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="assetinfo">Asset Info</NavLink>
    </li>
    <li>
        <NavLink href="mintasset">Mint Assets</NavLink>
    </li>
    <li>
        <NavLink href="burnasset">Burn Assets</NavLink>
    </li>
    <li>
        <NavLink href="confiscateasset">Confiscate Assets</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="createtopic">Create Topic</NavLink>
    </li>
    <li>
        <NavLink href="topicinfo">Topic Info</NavLink>
    </li>
    <li>
        <NavLink href="updatetopic">Update Topic</NavLink>
    </li>
    <li>
        <NavLink href="deletetopic">Delete Topic</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="createfile">Create File</NavLink>
    </li>
    <li>
        <NavLink href="appendfile">Append File</NavLink>
    </li>
    <li>
        <NavLink href="fileinfo">File Info</NavLink>
    </li>
    <li>
        <NavLink href="updatefile">Update File</NavLink>
    </li>
    <li>
        <NavLink href="deletefile">Delete File</NavLink>
    </li>
    <li class="new-section">
        <NavLink href="createcontract">Create Contract</NavLink>
    </li>
    <li>
        <NavLink href="querycontract">Query Contract</NavLink>
    </li>
    <li>
        <NavLink href="contractinfo">Contract Info</NavLink>
    </li>
    <li>
        <NavLink href="deletecontract">Delete Contract</NavLink>
    </li>
</ul>
