<section @onclick=@OnClick>
    <h2>Global Settings</h2>
    <dl>
        <dt>Max Tx Fee</dt>
        <dd><HbarDisplay Value="(ulong)DefaultsService.FeeLimit" /></dd>
        <dt>Tx Duration</dt>
        <dd><TimespanDisplay Value="DefaultsService.TransactionDuration" /></dd>
        <dt>Rcpt Max Wait</dt>
        <dd><TimespanDisplay Value="DefaultsService.ReceiptWaitDuration" /></dd>
        <dt>Rcpt Max Rtry</dt>
        <dd>@DefaultsService.ReceiptRetryCount</dd>
    </dl>
</section>
<UpdateSettingsDialog @ref="_updateSettingsDialog" />
