@if (_input != null)
{
    <div class="dialog-mask">
        <EditForm Model="@_input" class="dialog-container sign-transaction-dialog">
            <div class="dialog-title">Waiting for Signatures</div>
            <div class="dialog-content">
                <p>
                    Please use your third party tool to sign the transaction below.  
                    Paste the signature from the clipboard to continue.
                </p>
                <label for="transaction">Transaction in Hex</label>
                <InputTextArea id="transaction" @bind-Value="_input.TransactionInHex" readonly="readonly" />
                @if (_supportsClipboard)
                {
                    <button type="button" @onclick="CopyTransactionToClipboard">Copy</button>
                }
                <label for="signatures">Signature(s) in Hex</label>
                <InputTextArea id="signatures" @bind-Value="_input.SignatureInHex" @oninput="SignatureInHexChanged" />
                @if (_supportsClipboard)
                {
                    <button type="button" @onclick="PasteSignaturesFromClipboard">Paste</button>
                }
                <div class="signature-review">
                    <div class="status-message">@_input.StatusMessage</div>
                    @if (_input.SignatureMap != null)
                    {
                        <SignatureMapDisplay SignatureMap="@_input.SignatureMap" class="signature-map-display" />
                    }
                </div>
            </div>
            <div class="dialog-footer">

                @switch (_input.RemainingSeconds)
                {
                    case 0:
                        <div class="countdown"><span>Transaction has Expired,</span> it will no longer be accepted by the network.</div>
                        break;
                    case 1:
                        <div class="countdown">Transaction expires in <span>one</span> second...</div>
                        break;
                    default:
                        <div class="countdown">Transaction expires in <span>@_input.RemainingSeconds</span> seconds...</div>
                        break;
                }
                <button type="button" @onclick="Close">Cancel</button>
                <button @onclick="SubmitToNetwork">Submit to Network</button>
            </div>
        </EditForm>
    </div>
}
