@using BlazorInputFile
@if (_input != null)
{
    <div class="dialog-mask">
        <EditForm Model="@_input" class="dialog-container upload-file-dialog">
            <div class="dialog-title">Upload File</div>
            <div class="dialog-content upload-file-content">
                @if (_input.Contents.IsEmpty)
                {
                    <label for="fileinput">Upload File</label>
                    <InputFile id="fileinput" OnChange="OnFileInputChanged" />
                }
                <div class="status-message">@_input.StatusMessage</div>
            </div>
            <div class="dialog-footer">
                <button type="button" @onclick="Close">Cancel</button>
                <button @onclick="Submit">Continue</button>
            </div>
        </EditForm>
    </div>
}
