.query-page {
    padding: px(8) px(16);
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-row-gap: px(24);

    .entry-form {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-column-gap: px(24);
        grid-row-gap: px(6);
        align-items: baseline;
        justify-self: start;
        label {            
            color: $secondary-control-foreground;
        }
        &>button {
            justify-self: end;
            grid-column: 1 / 3;
        }
    }
}