button
{
    font-size: px(16);
    margin: 0;
    padding: px(8);
    color: $control-foreground;
    background: $control-background;
    border: px(1) solid $control-border;

    &.default {
        border-color: $control-default-border;
    }
    &:hover {
        border-color: $control-mouse-over-border;
        background: $control-mouse-over-background;
    }
    &:active {
        border-color: $control-pressed-border;
        background: $control-pressed-background;
    }
}