html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    overflow: hidden;
    box-sizing: border-box;
    font-family: $primary-font-family;
    font-size: $base-font-size;
    color: $content-foreground;
    background: $content-background;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    overflow: hidden;
    grid-template-columns: minmax(px(200), max-content) 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "header header"
        "aside content";

    &>.main_header {
        grid-area: header;
        color: $window-header-foreground;
        background-color: $window-header-background;
        font-size: px(24);
        padding: px(12) px(16);
    }

    &>.main_aside {
        grid-area: aside;
        background: $control-background;
        border-right: px(1) solid $control-border;
    }

    &>.main_content {
        grid-area: content;
        display: grid;
        overflow: hidden;
    }
}

#blazor-error-ui {
    display: none;
    position: absolute;
    background: white;
    left: 30vmin;
    right: 30vmin;
    top: 10vmin;
    padding: 5vmin;
    font-size: 5vmin;
    text-align: center;
    color: $control-foreground;
    background: rgba($control-background,0.95);
    border: px(5) solid $control-focus-border;
}
