$content-background: #FFFFFF;
$content-foreground: #3F3F3F;

$control-foreground: #3f3f3f;
$control-background: #DBDEE3;
$control-border: #828bA0;
$control-content-background:#FFFFFF;
$control-highlight-foreground:#FFFFFF;
$control-highlight-background: #943AB4;
$control-mouse-over-background: #EAEDF4;
$control-pressed-background: #BCBFC6;
$control-pressed-border: #3D91FD;
$control-default-border: #C12B8A;
$control-mouse-over-border: #8632A4;
$control-focus-border: #943AB4;
$control-invalid-border-color: rgb(226, 21, 21);

$glyph-foreground: #646769;
$glyph-background: #FFFFFF;
$glyph-hover: #8632A4;

$group-box-header-border: #8632A4;
$group-box-header-foreground: #8632A4;

$error-content-foreground: #9A3213;

$secondary-content-foreground: #993F3F3F;
$secondary-control-foreground: #5C1579;

$list-mouse-over-foreground: #FFFFFF;
$list-mouse-over-background: #943AB4;
$list-mouse-over-border: #8F2B76;
$list-selected-background: rgb(203, 122, 233);
$list-selected-border: #A82E95;
$list-selected-foreground: #FFFFFF;

$window-border: #61657B;
$window-active-border: #943AB4;
$window-control-mouse-over-background: #ba6ada;
$window-header-foreground: #FFFFFF;
$window-header-background: #943AB4;

$serif-font-family: serif;
$serif-bold-family: serif;
$primary-font-family: Helvetica, Arial, sans-serif;
$monospace-font-family: "Courier New", Courier, monospace;
$base-font-size: 100%;

$dialog-mask: rgba(darken($window-header-background,25), 0.5);
$dialog-background: $content-background;
$dialog-border: $window-active-border;
$dialog-header-foreground: $window-header-foreground;
$dialog-header-background: $window-header-background;

$play-icon: (
    viewbox: 0 0 24 24,
    path: "M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z"
);

$hamburger-icon: (
    viewbox: 0 0 24 24,
    path: "M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"
);

$close-icon: (
    viewbox: 0 0 24 24,
    path: "M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
);