.dialog-mask
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: $dialog-mask;
}
.dialog-container
{
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    max-height: 90vh;
    background-color: $dialog-background;
    border: px(1) solid $dialog-border;
    overflow: hidden;
}
.dialog-title
{
    font-size: px(18);
    padding: px(12) px(16);
    color: $dialog-header-foreground;
    background: $dialog-header-background;
}
.dialog-content
{
    padding: px(12) px(16);
    overflow: auto;
}
.dialog-footer
{
    text-align: right;
    padding: px(12) px(16);
    border-top: px(1) solid lighten($dialog-header-background, 40%);
}