.global-settings {
    margin: 0;
    padding: px(12) px(16);
    overflow: hidden;
    color: $control-foreground;
    background-color: $control-background;
    border-top: px(1) solid $control-border;
    &>h2 {
        color: $group-box-header-foreground;
        font-weight: bold;
        font-size: px(16);
    }

    &>dl {
        margin: px(4) 0 0 0;
        padding: 0;

        &>dt {
            margin: 0;
            padding: 0;
            opacity: 0.6;
            font-size: px(12);
            clear: both;
            float: left;
        }

        &>dd {
            margin: 0;
            padding: 0;
            text-align: right;
        }
    }
    &:hover {
        background-color: $control-mouse-over-background;
        position: relative;
        &:after {
            position: absolute;
            top: px(10);
            right: px(16);
            font-weight: bold;
            color: $glyph-hover;
            content: '...';
        }
    }
}
