.input-endorsement {
    overflow-x: hidden;
    position: relative;

    div.list-header {

        display: grid;
        grid-template-columns: 1fr max-content max-content max-content;
        align-items: center;
        padding: 0;
        margin: 0 0 px(8) 0;

        &:hover {
            background: $control-mouse-over-background;
        }
    }

    div.public-key {
        display: grid;
        grid-template-columns: 1fr max-content max-content;
        align-items: center;
        margin-bottom: px(8);

        &:hover {
            background: $control-mouse-over-background;
        }
    }

    ul {
        border-left: px(0.5) solid rgba($control-default-border, 0.8);
        margin: 0;
        padding: 0 0 0 px(18);

        li {
            margin: 0;
            padding: 0;
            display: grid;

            &.public-key {
                grid-template-columns: 1fr max-content max-content;
                align-items: center;
                margin-bottom: px(8);

                &:hover {
                    background: $control-mouse-over-background;
                }
            }
        }
    }

    $icon-params: (fill: $control-foreground, fill-hover: $glyph-hover, width: px(24), height: px(24));

    button.add-key {
        background: none;
        border: none;
        margin-left: px(8);
        @include svg-button(map-merge($icon-params, $key-icon));
    }

    button.remove-key {
        background: none;
        border: none;
        margin-left: px(8);
        @include svg-button(map-merge($icon-params, $delete-icon));
    }

    button.flatten-list {
        background: none;
        border: none;
        margin-left: px(8);
        @include svg-button(map-merge($icon-params, $flatten-list-icon));
    }

    button.convert-to-list {
        background: none;
        border: none;
        margin-left: px(8);
        @include svg-button(map-merge($icon-params, $to-list-icon));
    }
}