ul.navigation-menu {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    li {
        margin: 0;
        padding: 0;
        list-style: none;

        &.new-section {                
            border-top: px(1) solid $control-border;
        }

        a {
            display: block;
            padding: px(12) px(16);
            text-decoration: none;
            color: $control-foreground;
            background: $control-content-background;

            &.active {
                color: $list-selected-foreground;
                background: $list-selected-background;
            }

            &:hover {
                background: $list-mouse-over-background;
                border-color: $list-mouse-over-border;
            }
        }
    }
}
