.public-key-display {
    overflow-x: hidden;
    position: relative;

    &.key-type-ed25519 {
        display: grid;
        grid-template-columns: min-content 4em minmax(0, 1fr);

        &::before {
            content: 'Ed25519';
            color: $group-box-header-foreground;
            margin-right: px(8);
            font-size: 0.6em;
            padding-top: 0.4em;
        }

        &>span:nth-child(1) {
            opacity: 0.65;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

        &>span:nth-child(2) {
            display: inline-block;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }

    &.key-type-rsa3072 {
        &::before {
            content: 'RSA 3072';
            color: $group-box-header-foreground;
            margin-right: px(8);
            font-size: 0.6em;
            padding-top: 0.4em;
        }

    }

    &.key-type-ecdsa384 {
        &::before {
            content: 'ECDSA 384';
            color: $group-box-header-foreground;
            margin-right: px(8);
            font-size: 0.6em;
            padding-top: 0.4em;
        }
    }

    &.key-type-contract {
        &::before {
            content: 'CONTRACT';
            color: $group-box-header-foreground;
            margin-right: px(8);
            font-size: 0.6em;
            padding-top: 0.4em;
        }
    }
}