.select-network-node-dialog {
    .dialog-content {
        &>div{
            margin: px(16) 0;
            padding: px(8) 0;
            display: grid;
            overflow: hidden;
            grid-template-columns: min-content 1fr;
            font-weight: bold;
            border-bottom: px(1) solid $control-border;  
            align-items: baseline;      
            &>select
            {
                margin-left: px(10);
                font-weight: bold;
                border: none;
            }
        }
        table
        {
            width: 100%;
            border-collapse: collapse;
            tr {
                cursor: pointer;
                &.selected
                {
                    color: $list-selected-foreground;
                    background: $list-selected-background;
                    border: px(1) solid $list-selected-border;
                }
                td {                    
                    padding-bottom: px(4);
                    padding-top: px(4);
                    &:nth-child(1) {
                        font-weight: bold;
                    }
                    &:nth-child(2) {
                        opacity: 0.6;
                        padding-right: px(8);
                        padding-left: px(8);
                    }
                }
                &:hover
                {
                    color: $list-mouse-over-foreground;
                    background: $list-mouse-over-background;
                }
            }
        }
    }
}