.sign-transaction-dialog {
    max-width: 60vw;

    .dialog-content {
        display: grid;

        label {
            margin-top: px(8);
            font-size: px(12);
            color: $secondary-control-foreground;
        }

        textarea {
            min-height: px(60);
            resize: none;
        }

        button {
            font-size: px(12);
            padding: px(2) px(6);
            margin-top: px(-1);
            justify-self: end;
        }

        .signature-review {
            min-height: px(86);
            margin-bottom: px(8);
            display: grid;
            column-gap: px(12);
            grid-template-columns: minmax(0, 1fr) max-content;            

            .status-message {
                font-weight: bold;
                color: $group-box-header-foreground;
                margin-bottom: px(8);
                grid-column: 1 / 3;
            }

            button {
                font-size: px(12);
                padding: px(2) px(6);
                align-self: end;
            }
        }

        .signature-map-display {
            display: grid;
            grid-template-columns: max-content max-content minmax(0, 1fr);
            grid-column-gap: px(16);
            grid-row-gap: px(6);
            overflow-x: hidden;

            .sig-type {
                color: lighten($control-foreground, 50%);
            }

            .sig-pub {
                font-family: $monospace-font-family;
                font-weight: 700;
            }

            .sig-hex {
                font-family: $monospace-font-family;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $control-foreground;
            }
        }
    }

    .dialog-footer {
        text-align: initial;
        display: grid;
        grid-template-columns: minmax(0, 1fr) max-content max-content max-content;
        grid-column-gap: px(8);
        padding: px(12) px(16);
        border-top: px(1) solid lighten($dialog-header-background, 40%);

        .countdown {
            span {
                color: $group-box-header-foreground;
                font-weight: bold;
            }
        }
    }
}