.update-global-settings-dialog {
    .dialog-content {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-column-gap: px(24);
        grid-row-gap: px(6);
        align-items: baseline;
        justify-self: start;
        label {            
            color: $secondary-control-foreground;
        }
        &>.status-message {            
            grid-column: 1 / 3;
            min-height: px(50);
            color: $error-content-foreground;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    margin: 0 0 px(4);
                    padding: 0;
                    max-width: px(500);
                }
            }
        }
    }
}