.upload-file-dialog {
    max-width: 60vw;
    min-width: px(320);
    .upload-file-content {        
        min-height: px(68);
    }
    .status-message
    {
        margin-top: px(16);
    }
}